.Header
  .Header__logo
    SNS
.Contents
  .Contents__message
    follow me!
  = link_to "https://www.facebook.com/", class: "Contents__btn Contents__btn--facebook" do
    = icon('fab', 'facebook-square',  class: "Contents__btn--icon")
    %span<>
    Facebook
  = link_to "https://twitter.com/", class: "Contents__btn Contents__btn--twitter" do
    = icon('fab', 'twitter', class: "Contents__btn--icon")
    %span<>
    Twitter
  = link_to "https://www.instagram.com/", class: "Contents__btn Contents__btn--instagram" do
    = icon('fab', 'instagram', class: "Contents__btn--icon")
    %span<>
    Instagram